* {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  color: #fff;
  font-family: 'Open Sans', sans-serif;
}
a {
  color: rgb(6, 202, 6);
  text-decoration: none;
}
a:hover {
  color: rgb(67, 233, 67);
}
hr {
  border-color: rgb(52 107 156 / 26%);
}
.intro {
  position: relative;
  background-image: linear-gradient(-90deg, #02294d, #0fb5f7);

  display: grid;
  grid-template-columns: 600px auto;
  grid-template-rows: 950px;
  /* align-items: center; */
  /* column-gap: 2rem; */
}

.img-container,
.img-container img {
  height: 100%;
  width: 100%;
}

.img-container {
  animation: enterImgContainer 1s ease forwards;
}

.info-container {
  padding: 1em 1rem 1rem 5rem;
  text-align: left;
  font-size: 1.5rem;
  /* border-left: 3px solid #00000018; */

  display: flex;
  /* place-items: center; */
}

.info-container .info {
  animation: enterInfoContainer 1s ease forwards;
}

.info-container * {
  text-shadow: 0px 5px 15px rgb(0, 0, 0, 0.5);
}

@keyframes enterInfoContainer {
  from {
    opacity: 0;
    transform: translateY(50%);
  }
  to {
    opacity: 1;
    transform: translateY(0%);
  }
}

@keyframes enterImgContainer {
  from {
    opacity: 0;
    transform: translateX(-50%);
  }
  to {
    opacity: 1;
    transform: translateX(0%);
  }
}

/* Skills Section */
.skills {
  padding: 2rem;
  position: relative;
  overflow: hidden;
  background-color: #000;
  background-image: url('/img/coding-2.jpg');
  background-size: cover;
  background-position: center;
}
.skills-content {
  z-index: 2;
}
.skills-header {
  text-shadow: 0px 5px 15px rgb(0, 0, 0, 0.5);
  align-self: center;
  text-align: center;
}

.skills-list {
  z-index: 2;
  display: grid;
  grid-template-columns: 2fr 1fr 2fr;
  gap: 2rem;
  max-width: 800px;
  margin: 0 auto;
}

.skills-card {
  background-color: #fff;
  border-radius: 10px;
  padding: 1rem;
  text-align: center;
  color: #000;
  box-shadow: 0px 5px 15px rgb(0, 0, 0, 0.75);
  display: grid;
  grid-template-rows: 130px auto 130px;
}

.skills-card .skill-text {
  padding-bottom: 1rem;
  border-bottom: 1px solid #e7e7e7;
}

.tools-list {
  text-align: left;
  display: grid;
  grid-template-columns: auto auto;
}
