.intro {
  position: relative;
  background-color: #040d22;
}
.intro-content {
  display: flex;
}

.img-me {
  /* height: 100%; */
  width: 100%;
  animation: enterImgContainer 1s ease forwards;
  box-shadow: 0px 0px 10px #00000038;
  max-width: 400px;
  filter: grayscale(100%);
  transition: all 0.5s ease;
}

.img-me:hover {
  filter: grayscale(0%);
}

.info-container {
  padding: 1em 1rem 1rem 5rem;
  text-align: left;
  font-size: 1.5rem;
  display: flex;
}

.info-container .info {
  animation: enterInfoContainer 1s ease forwards;
}

.info-container * {
  text-shadow: 0px 5px 15px rgb(0, 0, 0, 0.5);
}

@keyframes enterInfoContainer {
  from {
    opacity: 0;
    transform: translateY(50%);
  }
  to {
    opacity: 1;
    transform: translateY(0%);
  }
}

@keyframes enterImgContainer {
  from {
    opacity: 0;
    transform: translateX(-50%);
  }
  to {
    opacity: 1;
    transform: translateX(0%);
  }
}

/* Skills Section */
.skills {
  padding: 2rem;
  position: relative;
  overflow: hidden;
  background-color: #000;
  background-image: url('../img/coding-2.jpg');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}
.skills-content {
  z-index: 2;
}
.skills-header {
  text-shadow: 0px 5px 15px rgb(0, 0, 0, 0.5);
  align-self: center;
  text-align: center;
}

.skills-header-2 {
  text-align: center;
  display: none;
}

.skills-list {
  z-index: 2;
  display: grid;
  grid-template-columns: 2fr 1fr 2fr;
  gap: 2rem;
  max-width: 800px;
  margin: 0 auto;
}

.skills-card {
  background-color: #fff;
  border-radius: 10px;
  padding: 1rem;
  text-align: center;
  color: #000;
  box-shadow: 0px 5px 15px rgb(0, 0, 0, 0.75);
  display: grid;
  grid-template-rows: 130px auto 130px;
}

.skills-card .skill-text {
  padding-bottom: 1rem;
  border-bottom: 1px solid #e7e7e7;
}

.skills .tools-list {
  text-align: left;
  display: grid;
  grid-template-columns: auto auto;
}

/* Recent Work */
.recent-work {
  position: relative;
  padding: 5rem 2rem;
  background-color: #430594;
}
.recent-work-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, 310px);
  gap: 2rem;
}

.project-container .thumbnail {
  width: 100%;
  border-radius: 5px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.25);
}

.recent-work .tools-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  column-gap: 0.35rem;
}
.recent-work .tools-list .tool {
  border: 1px solid #fff;
  border-radius: 3px;
  margin-bottom: 0.5rem;
  padding: 0.15rem 0.25rem;
  font-size: 0.8rem;
  text-align: center;
}

.project-container .project-btns {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 1rem;
  font-size: 0.8rem;
  text-align: center;
}

/* Footer */
.footer {
  padding: 2rem;
  background-color: rgb(21, 21, 21);
  text-align: center;
}
