@font-face {
  font-family: 'Changa';
  src: url('./fonts/Changa-Regular.ttf');
}
body {
  min-height: 100vh;
  margin: 0;
  padding: 0;
  background-image: linear-gradient(45deg, #cb4040, #460476, #0c90b1);
  box-sizing: border-box;
  color: #fff;
  font-family: 'Changa', sans-serif;
  background-size: 250%;
  background-position: 50%;
  transition: background-position 0.75s ease;
}
body .page {
  height: 100vh;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
a {
  text-decoration: none;
}

.intro-container {
  padding-top: 1rem;
  text-align: center;
  margin-bottom: 5rem;
  display: grid;
  grid-template-columns: auto auto auto;
  align-items: center;
}
.intro-container .social-link-container a {
  color: #fff;
  font-size: 2.5rem;
  display: inline-block;
  text-shadow: 0px 0px 25px #00000078;
  transition: all 0.2s ease;
}
.intro-container .social-link-container a:hover {
  transform: scale(1.2);
  text-shadow: 0px 0px 25px rgba(255, 255, 255, 0.623);
}
.intro-container .name,
.intro-container .title {
  margin: 0.2rem 0;
}
.avatar-me {
  width: 50%;
  max-width: 460px;
  border-radius: 50%;
  box-shadow: 0px 0px 25px #00000078;
}

.main-links-container {
  width: 100%;
  display: grid;
  grid-template-columns: 330px 330px 330px;
  justify-content: space-around;
  align-items: center;
  gap: 1rem;
}

.main-links-container a {
  display: inline-block;
  color: #fff;
  border: 10px solid #fff;
  padding: 1rem 5rem;
  font-size: 2rem;
  box-shadow: 0px 0px 25px #00000078;
  background-color: rgba(0, 0, 0, 0.452);
  font-weight: bold;
  transition: all 0.2s ease;
  text-align: center;
}
/* .main-links-container a:hover {
  border-color: #000;
} */

.main-links-container a.about-me:hover {
  background-color: #008e8e;
}
.main-links-container a.projects:hover {
  background-color: #f1642c;
}

.main-links-container a.contact-me:hover {
  background-color: #54d04a;
}

body.about-me-hovered {
  background-position: 0%;
}
body.projects-hovered {
  background-position: 50%;
}
body.contact-me-hovered {
  background-position: 100%;
}
body.about-me-hovered .main-links-container a.projects,
body.about-me-hovered .main-links-container a.contact-me,
body.projects-hovered .main-links-container a.about-me,
body.projects-hovered .main-links-container a.contact-me,
body.contact-me-hovered .main-links-container a.about-me,
body.contact-me-hovered .main-links-container a.projects {
  opacity: 0.5;
}

.main-links-container .about-me-container {
  position: relative;
}
.main-links-container .about-me-container .decor {
  position: absolute;
  top: -4rem;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-around;
  opacity: 0;
  pointer-events: none;
}

.main-links-container .about-me-container .decor .line {
  background-color: #fff;
  width: 40px;
  height: 10px;
  border-radius: 10px;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.568);
}

.main-links-container .about-me-container .decor .line:nth-child(1) {
  transform: rotateZ(45deg);
}
.main-links-container .about-me-container .decor .line:nth-child(2) {
  transform: rotateZ(90deg);
}
.main-links-container .about-me-container .decor .line:nth-child(3) {
  transform: rotateZ(-45deg);
}

body.about-me-hovered .main-links-container .about-me-container .decor {
  animation: aboutMeHoverAnim 2s cubic-bezier(0.46, 0.03, 0.52, 0.96) infinite
    both;
}

@keyframes aboutMeHoverAnim {
  0% {
    opacity: 0;
    transform: scale(0.85) translateY(20px);
  }
  50% {
    transform: scale(1) translateY(0px);
    opacity: 1;
  }
  100% {
    transform: scale(0.85) translateY(10px);
    opacity: 0;
  }
}
