@font-face {
  font-family: 'Changa';
  src: url('../fonts/Changa-Regular.ttf');
}
@font-face {
  font-family: 'BalooChettan2';
  src: url('../fonts/BalooChettan2-Regular.ttf');
}
* {
  box-sizing: border-box;
}
a {
  text-decoration: none;
}

body {
  min-height: 100vh;
  margin: 0;
  padding: 0;
  color: #fff;
  font-family: 'BalooChettan2', sans-serif;
  overflow-x: hidden;
  // background-color: #000;
  background: linear-gradient(45deg, #cb4040, #460476, #0c90b1);
  background-repeat: no-repeat;
  background-size: 200%;
  background-position: center;
  transition: background-position 0.75s ease;
  &.showing-about-page {
    background: #460476;
  }
  .page {
    min-height: 100vh;
    width: 100%;
    margin: 0 auto;
    padding: 0 1rem;
    padding-bottom: 1rem;
  }

  &.about-me-hovered {
    background-position: 0%;
  }
  &.say-hi-hovered {
    background-position: 100%;
  }
}

.text-justify {
  text-align: justify;
}

.skill-tooltip {
  display: flex;
  flex-direction: row;
  align-items: center;
  .smiley {
    font-size: 1.5rem;
  }
}
.tippy-box {
  box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.432);
}

.btn {
  font-family: inherit;
  color: #fff;
  padding: 0.5rem 2rem;
  background-color: rgba(0, 0, 0, 0.541);
  display: block;
  border: 1px solid transparent;
  transition: all 0.2s ease, transform 0.1s;
  border-radius: 3px;
  cursor: pointer;

  &:hover,
  &:active {
    border-color: #fff;
  }

  &:active {
    transform: scale(0.925);
    outline: none;
  }

  &.flat {
    background-color: transparent;
    border-color: transparent;

    &:hover,
    &:active {
      background-color: rgba(0, 0, 0, 0.341);
      border-color: #fff;
    }
  }
}
